main{
    background-color: $black;
    padding-top: 47px;
    padding-bottom: 85px;
    .menu{
        display: flex;
        flex-direction: column;
        
        ul{
            display: flex;
            margin: 0 0 74px 0;
            column-gap: 44px;
            li{
                a{
                    color: $grey;
                    &:hover{
                        color: $green;
                        transition: all .7s ease;
                    }
                }
            }
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            gap: 40px 60px ;
            .card{
                max-width: 351px;
              
               
                .photo{
                    max-width: 351px;
                    height: 350px;
                    position: relative;
                    transition: all 1s ease;
                    .back{
                        width:100%;
                        height: 100%;
                        background-color: #4E9F0D80;
                        transform: scale(0);
                        transition: all 1s ease;
                        @include centerR;
                        p{
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 28.18px;
                            color: $white;
                        }
                    }
                    button{
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 28.18px;
                        color: $white;
                        width: 190px;
                        height: 60px;
                        background-color: $green;
                        position: absolute;
                        border: 1px solid $green;
                        left: 0;
                        top: 290px;
                        z-index: 1;
                        transform: scale(1);
                        transition: all .7s ease;
                    }
                    &:hover > div{
                        transform: scale(1);
                        transition: all 1s ease;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:hover > button{
                        transform: scale(0);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .card-info{
                    h3{
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28.18px;
                        color: $green;
                        margin: 36px 0 7px 0;
                    }
                    p{
                        color:$white;
                        font-family: "Roboto";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }
            }
        }
    }
}